* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: darkblue;
    height: 100vh;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px 100px;
}

h2 {
    user-select: none;
    font-size: 26px;
    font-weight: 700;
    color: aliceblue;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: aliceblue;
    padding: 8px 16px;
    margin: 0 20px;
}

nav a:hover {
    text-decoration: underline;
}

header button {
    outline: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    padding: 6px 18px;
    letter-spacing: .5px;
    border-radius: 4px;
    color: blue;
    border: 1px solid black;
}

.content {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-content {
    max-width: 1200px;
    text-align: center;
    color: aliceblue;
}

.main-content h1 {
    font-size: 3rem;
}

.main-content p {
    margin-top: 20px;
    font-size: 18px;
    max-width: 600px;
}

.main-content button {
    margin-top: 22px;
    border: none;
    outline: none;
    font-size: 20px;
    padding: 12px 28px;
    border-radius: 4px;
    font-weight: 600;
    letter-spacing: .5px;
    cursor: pointer;
    background: lightblue;
    color: black;
}

footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.anchors {
    display: flex;
    flex-direction: column;
}

.partnership, .about, .support, a {
    text-align: center;
    font-size: 14px;
    color: aliceblue;
    padding: 4px;
    margin-bottom: 4px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h3 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 16px;
    color: aliceblue;
}